# This file contains common pin mappings for the BigTreeTech SKR PRO.
# To use this config, the firmware should be compiled for the
# STM32F407 with a "32KiB bootloader".

# The "make flash" command does not work on the SKR PRO. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the SKR PRO
# with that SD card.

# https://github.com/Klipper3d/klipper/blob/master/config/generic-bigtreetech-skr-pro.cfg
# See docs/Config_Reference.md for a description of parameters.

[save_variables]
filename: ~/printer_data/config/variables.cfg

[include ./ebb-sb-usb.cfg]
[include ./eddy.cfg]

[include ../../mainsail-config/mainsail.cfg]
[include bedfans.cfg]
[include macros/*.cfg]

[force_move]
enable_force_move: True # Allows a user to move the z axis down if they have no other means of homing Z and need to calibrate the Eddy.


[gcode_macro _CLIENT_VARIABLE]
variable_use_custom_pos   : True  # use custom park coordinates for x,y [True/False]
variable_custom_park_x    : 10.0  # custom x position; value must be within your defined min and max of X
variable_custom_park_y    : 10.0  # custom y position; value must be within your defined min and max of Y
variable_custom_park_dz   : 2.0   # custom dz value; the value in mm to lift the nozzle when move to park position
variable_retract          : 1.0   # the value to retract while PAUSE
variable_cancel_retract   : 5.0   # the value to retract while CANCEL_PRINT
variable_speed_retract    : 35.0  # retract speed in mm/s
variable_unretract        : 1.0   # the value to unretract while RESUME
variable_speed_unretract  : 35.0  # unretract speed in mm/s
variable_speed_hop        : 15.0  # z move speed in mm/s
variable_speed_move       : 100.0 # move speed in mm/s
variable_park_at_cancel   : True  # allow to move the toolhead to park while execute CANCEL_PRINT [True/False]
variable_park_at_cancel_x : 295.0 # different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
variable_park_at_cancel_y : 295.0 # different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
# !!! Caution [firmware_retraction] must be defined in the printer.cfg if you set use_fw_retract: True !!!
variable_use_fw_retract   : False # use fw_retraction instead of the manual version [True/False]
variable_idle_timeout     : 0     # time in sec until idle_timeout kicks in. Value 0 means that no value will be set or restored
variable_runout_sensor    : ""    # If a sensor is defined, it will be used to cancel the execution of RESUME in case no filament is detected.
#                                   Specify the config name of the runout sensor e.g "filament_switch_sensor runout". Hint use the same as in your printer.cfg
## !!! Custom macros, please use with care and review the section of the corresponding macro.
## These macros are for simple operations like setting a status LED. Please make sure your macro does not interfere with the basic macro functions.
## Only  single line commands are supported, please create a macro if you need more than one command.
variable_user_pause_macro : ""    # Everything insight the "" will be executed after the klipper base pause (PAUSE_BASE) function
variable_user_resume_macro: ""    # Everything insight the "" will be executed before the klipper base resume (RESUME_BASE) function
variable_user_cancel_macro: ""    # Everything insight the "" will be executed before the klipper base cancel (CANCEL_PRINT_BASE) function
gcode:


[exclude_object]

[virtual_sdcard]
path: /home/voron/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[pause_resume]
#recover_velocity: 50.
#   When capture/restore is enabled, the speed at which to return to
#   the captured position (in mm/s). Default is 50.0 mm/s.

[display_status]

[respond]


[mcu]
serial: /dev/ttyS0
# serial: /dev/serial/by-id/usb-Klipper_stm32f407xx_540042000E504E4855343720-if00
restart_method: command

[temperature_sensor SKR_Pro]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

#[mcu rpi]
#serial: /tmp/klipper_host_mcu

[temperature_sensor CB1]
sensor_type: temperature_host
min_temp: 10
max_temp: 100


[printer]
kinematics: corexy
max_velocity: 300  
max_accel: 4000             #Max 4000
max_z_velocity: 15          #Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 350
square_corner_velocity: 5.0



#####################################################################
#   X/Y Stepper Settings
#####################################################################


##  B Stepper - Left
##  Connected to MOTOR_0
##  Endstop connected to DIAG_0
[stepper_x]
step_pin: PE9
dir_pin: PF1
enable_pin: !PF2
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 200  #set to 400 for 0.9 degree stepper
# endstop_pin: PB10
position_min: 0
position_endstop: 350
position_max: 350
homing_speed: 75 #25   #Max 100
homing_positive_dir: true

# sensorless homing
endstop_pin: tmc2209_stepper_x:virtual_endstop
homing_retract_dist: 0


[tmc2209 stepper_x]
uart_pin: PC13
# sensorless homing
diag_pin: PB10  
driver_SGTHRS: 135  # 255 is most sensitive value, 0 is least sensitive
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0



##  A Stepper - Right
##  Connected to MOTOR_1
##  Endstop connected to DIAG_1
[stepper_y]
step_pin: PE11
dir_pin: PE8
enable_pin: !PD7
rotation_distance: 40
microsteps: 32
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
# endstop_pin: PE12
position_min: 0
position_endstop: 350
position_max: 350
homing_speed: 75 #25   #Max 100
homing_positive_dir: true

# sensorless homing
endstop_pin: tmc2209_stepper_y:virtual_endstop
homing_retract_dist: 0

[tmc2209 stepper_y]
uart_pin: PE3
# sensorless homing
diag_pin: PE12 
driver_SGTHRS: 135  # 255 is most sensitive value, 0 is least sensitive
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

#####################################################################
#   Z Stepper Settings
#####################################################################

## Z0 Stepper - Front Left
##  Connected to MOTOR_2
##  Endstop connected to DIAG_2
[stepper_z]
step_pin: PE13
dir_pin: PC2
enable_pin: !PC0
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32
endstop_pin: PG8
# position_endstop: 1.425
#position_endstop: 1.525 #just testing for abs
# position_endstop: 1.365
# position_endstop: 0.825 # Cold
position_endstop: 1.525 # Hot
position_max: 310
position_min: -5
homing_speed: 8
second_homing_speed: 3
homing_retract_dist: 3

[tmc2208 stepper_z]
uart_pin: PE1
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0


##  Z1 Stepper - Rear Left
##  Connected to MOTOR_3
[stepper_z1]
step_pin: PE14
dir_pin: PA0
enable_pin: !PC3
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

[tmc2208 stepper_z1]
uart_pin: PD4
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0


##  Z2 Stepper - Rear Right
##  Connected to MOTOR_4
[stepper_z2]
step_pin: PD15
dir_pin: PE7
enable_pin: !PA3
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

[tmc2208 stepper_z2]
uart_pin: PD1
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

##  Z3 Stepper - Front Right
##  Connected to MOTOR_5
[stepper_z3]
step_pin: PD13
dir_pin: PG9
enable_pin: !PF0
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

[tmc2208 stepper_z3]
uart_pin: PD6
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0


#####################################################################
#   Bed Heater
#####################################################################
##  SSR Pin - HE1
##  Thermistor - TB
[heater_bed]
heater_pin: PD12
sensor_pin: PF3 # T0
sensor_type: Generic 3950

control: pid
pid_kp: 59.506
pid_ki: 3.306
pid_kd: 267.777
max_power: 1
min_temp: 0
max_temp: 130


#####################################################################
#   Fan Control
#####################################################################
# https://klipper.discourse.group/t/how-do-you-trigger-fans-from-the-main-mcu-temp/8191/12
##  Print Cooling Fan - FAN0
# [fan]
# pin: PC8
# kick_start_time: 0.5
# ##  Depending on your fan, you may need to increase this value
# ##  if your fan will not start. Can change cycle_time (increase)
# ##  if your fan is not able to slow down effectively
# off_below: 0.10

# ##  Hotend Fan - FAN1
# [heater_fan hotend_fan]
# pin: PE5
# max_power: 1.0
# kick_start_time: 0.5
# heater: extruder
# heater_temp: 50.0
# ##  If you are experiencing back flow, you can reduce fan_speed
# #fan_speed: 1.0

# ##  Controller fan - FAN2
# [controller_fan controller_fan]
# pin: PE6
# kick_start_time: 0.5
# # heater: heater_bed

##  Exhaust fan - FAN3 
#[heater_fan exhaust_fan]
#pin:
#max_power: 1.0
#shutdown_speed: 0.0
#kick_start_time: 5.0
#heater: heater_bed
#heater_temp: 60
#fan_speed: 1.0

#####################################################################
#   LED Control
#####################################################################

## Chamber Lighting - HE2 Connector (Optional)
#[output_pin caselight]
#pin: 
#pwm:true
#shutdown_value: 0
#value:1
#cycle_time: 0.01

#####################################################################
#   Homing and Gantry Adjustment Routines
#####################################################################

[idle_timeout]
timeout: 1800

# [safe_z_home]
# ##  XY Location of the Z Endstop Switch
# ##  Update -10,-10 to the XY coordinates of your endstop pin 
# ##  (such as 157,305) after going through Z Endstop Pin
# ##  Location Definition step.
# home_xy_position: 230,348
# speed: 100
# z_hop: 10

##  Use QUAD_GANTRY_LEVEL to level a gantry.
##  Min & Max gantry corners - measure from nozzle at MIN (0,0) and 
##  MAX (250, 250), (300,300), or (350,350) depending on your printer size
##  to respective belt positions
[quad_gantry_level]
gantry_corners:
  -60,-10
  410,420
#  Probe points
points:
  50,25
  50,275
  300,275
  300,25
speed: 150 #100
horizontal_move_z: 10
retries: 5
# retry_tolerance: 0.0075
retry_tolerance: 0.025
max_adjust: 10

########################################
# EXP1 / EXP2 (display) pins
########################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PG4, EXP1_3=PD11, EXP1_5=PG2, EXP1_7=PG6, EXP1_9=<GND>,
    EXP1_2=PA8, EXP1_4=PD10, EXP1_6=PG3, EXP1_8=PG7, EXP1_10=<5V>,
    # EXP2 header
    EXP2_1=PB14, EXP2_3=PG10, EXP2_5=PF11, EXP2_7=PF12,  EXP2_9=<GND>,
    EXP2_2=PB13, EXP2_4=PB12, EXP2_6=PB15, EXP2_8=<RST>, EXP2_10=PF13
    # Pins EXP2_1, EXP2_6, EXP2_2 are also MISO, MOSI, SCK of bus "spi2"

#####################################################################
#   Displays
#####################################################################


#  mini12864 LCD Display
[display]
lcd_type: uc1701
cs_pin: EXP1_3
a0_pin: EXP1_4
rst_pin: EXP1_5
encoder_pins: ^EXP2_5, ^EXP2_3
click_pin: ^!EXP1_2
contrast: 63
spi_software_miso_pin: EXP2_1
spi_software_mosi_pin: EXP2_6
spi_software_sclk_pin: EXP2_2

#  To control Neopixel RGB in mini12864 display
[neopixel btt_mini12864]
pin: EXP1_6
chain_count: 3
initial_RED: 0.1
initial_GREEN: 0.5
initial_BLUE: 0.0
color_order: RGB

#  Set RGB values on boot up for each Neopixel. 
#  Index 3 = display, Index 1 and 2 = Knob
[delayed_gcode setdisplayneopixel]
initial_duration: 1
gcode:
       SET_LED LED=btt_mini12864 RED=0.588 GREEN=0.196 BLUE=0.196 INDEX=3 TRANSMIT=0
       SET_LED LED=btt_mini12864 RED=0.098 GREEN=0.002 BLUE=0.149 INDEX=1 TRANSMIT=0
       SET_LED LED=btt_mini12864 RED=0.098 GREEN=0.002 BLUE=0.149 INDEX=2

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 59.0
#*# shaper_type_y = zv
#*# shaper_freq_y = 40.8
#*#
#*# [probe_eddy_current btt_eddy]
#*# reg_drive_current = 23
#*# calibrate =
#*# 	0.050000:3621433.847,0.090000:3620286.720,0.130000:3619151.831,
#*# 	0.170000:3618085.483,0.210000:3617009.112,0.250000:3615939.022,
#*# 	0.290000:3614919.287,0.330000:3613921.041,0.370000:3612946.544,
#*# 	0.410000:3611990.060,0.450000:3611031.506,0.490000:3610114.735,
#*# 	0.530000:3609233.288,0.570000:3608325.407,0.610000:3607451.223,
#*# 	0.650000:3606630.835,0.690000:3605790.718,0.730000:3604977.205,
#*# 	0.770000:3604191.824,0.810000:3603412.865,0.850000:3602664.251,
#*# 	0.890000:3601901.045,0.930000:3601189.290,0.970000:3600474.833,
#*# 	1.010000:3599818.430,1.050000:3599133.749,1.090000:3598450.465,
#*# 	1.130000:3597808.655,1.170000:3597196.475,1.210000:3596578.994,
#*# 	1.250000:3595983.387,1.290000:3595385.942,1.330000:3594802.873,
#*# 	1.370000:3594240.862,1.410000:3593700.165,1.450000:3593134.293,
#*# 	1.490000:3592607.879,1.530000:3592086.673,1.570000:3591572.585,
#*# 	1.610000:3591081.561,1.650000:3590605.532,1.690000:3590128.478,
#*# 	1.730000:3589650.419,1.770000:3589205.263,1.810000:3588750.715,
#*# 	1.850000:3588313.032,1.890000:3587895.092,1.930000:3587475.810,
#*# 	1.970000:3587059.053,2.010000:3586657.968,2.050000:3586263.632,
#*# 	2.090000:3585848.916,2.130000:3585525.985,2.170000:3585103.531,
#*# 	2.210000:3584763.297,2.250000:3584400.222,2.290000:3584049.242,
#*# 	2.330000:3583730.818,2.370000:3583368.216,2.410000:3583040.603,
#*# 	2.450000:3582724.065,2.490000:3582399.633,2.530000:3582092.075,
#*# 	2.570000:3581785.914,2.610000:3581460.493,2.650000:3581189.406,
#*# 	2.690000:3580904.111,2.730000:3580680.478,2.770000:3580324.367,
#*# 	2.810000:3580067.008,2.850000:3579799.821,2.890000:3579532.367,
#*# 	2.930000:3579292.245,2.970000:3579025.870,3.010000:3578763.280,
#*# 	3.050000:3578522.201,3.090000:3578296.659,3.130000:3578053.097,
#*# 	3.170000:3577829.031,3.210000:3577604.374,3.250000:3577389.626,
#*# 	3.290000:3577154.505,3.330000:3576950.812,3.370000:3576740.838,
#*# 	3.410000:3576513.531,3.450000:3576336.946,3.490000:3576149.173,
#*# 	3.530000:3575954.681,3.570000:3575767.347,3.610000:3575571.288,
#*# 	3.650000:3575410.634,3.690000:3575225.837,3.730000:3574980.602,
#*# 	3.770000:3574852.732,3.810000:3574672.871,3.850000:3574527.444,
#*# 	3.890000:3574312.776,3.930000:3574173.502,3.970000:3574014.444,
#*# 	4.010000:3573871.134,4.050000:3573701.057
#*#
#*# [temperature_probe btt_eddy]
#*# calibration_temp = 71.449575
