# This file contains common pin mappings for the BigTreeTech SKR PRO.
# To use this config, the firmware should be compiled for the
# STM32F407 with a "32KiB bootloader".

# The "make flash" command does not work on the SKR PRO. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the SKR PRO
# with that SD card.

# https://github.com/Klipper3d/klipper/blob/master/config/generic-bigtreetech-skr-pro.cfg
# See docs/Config_Reference.md for a description of parameters.

[save_variables]
filename: ~/printer_data/config/variables.cfg

[include ./ebb-sb-usb.cfg]
[include ./eddy.cfg]

[include ../../mainsail-config/mainsail.cfg]
[include bedfans.cfg]
[include macros/*.cfg]

[force_move]
enable_force_move: True # Allows a user to move the z axis down if they have no other means of homing Z and need to calibrate the Eddy.


[gcode_macro _CLIENT_VARIABLE]
variable_use_custom_pos   : True  # use custom park coordinates for x,y [True/False]
variable_custom_park_x    : 10.0  # custom x position; value must be within your defined min and max of X
variable_custom_park_y    : 10.0  # custom y position; value must be within your defined min and max of Y
variable_custom_park_dz   : 2.0   # custom dz value; the value in mm to lift the nozzle when move to park position
variable_retract          : 1.0   # the value to retract while PAUSE
variable_cancel_retract   : 5.0   # the value to retract while CANCEL_PRINT
variable_speed_retract    : 35.0  # retract speed in mm/s
variable_unretract        : 1.0   # the value to unretract while RESUME
variable_speed_unretract  : 35.0  # unretract speed in mm/s
variable_speed_hop        : 15.0  # z move speed in mm/s
variable_speed_move       : 100.0 # move speed in mm/s
variable_park_at_cancel   : True  # allow to move the toolhead to park while execute CANCEL_PRINT [True/False]
variable_park_at_cancel_x : 295.0 # different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
variable_park_at_cancel_y : 295.0 # different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
# !!! Caution [firmware_retraction] must be defined in the printer.cfg if you set use_fw_retract: True !!!
variable_use_fw_retract   : False # use fw_retraction instead of the manual version [True/False]
variable_idle_timeout     : 0     # time in sec until idle_timeout kicks in. Value 0 means that no value will be set or restored
variable_runout_sensor    : ""    # If a sensor is defined, it will be used to cancel the execution of RESUME in case no filament is detected.
#                                   Specify the config name of the runout sensor e.g "filament_switch_sensor runout". Hint use the same as in your printer.cfg
## !!! Custom macros, please use with care and review the section of the corresponding macro.
## These macros are for simple operations like setting a status LED. Please make sure your macro does not interfere with the basic macro functions.
## Only  single line commands are supported, please create a macro if you need more than one command.
variable_user_pause_macro : ""    # Everything insight the "" will be executed after the klipper base pause (PAUSE_BASE) function
variable_user_resume_macro: ""    # Everything insight the "" will be executed before the klipper base resume (RESUME_BASE) function
variable_user_cancel_macro: ""    # Everything insight the "" will be executed before the klipper base cancel (CANCEL_PRINT_BASE) function
gcode:


[exclude_object]

[virtual_sdcard]
path: /home/voron/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[pause_resume]
#recover_velocity: 50.
#   When capture/restore is enabled, the speed at which to return to
#   the captured position (in mm/s). Default is 50.0 mm/s.

[display_status]

[respond]

[input_shaper]
shaper_type_x: mzv
shaper_type_y: zv
shaper_freq_x: 59.0
shaper_freq_y: 40.8

[bed_mesh]
horizontal_move_z: 2.0
speed: 200 #100
#mesh_min: 40, 40
#mesh_max: 310,310
mesh_min: 15, 21.42
mesh_max: 335, 335
zero_reference_position: 175,175
probe_count: 9, 9
algorithm: bicubic
scan_overshoot: 8

[mcu]
serial: /dev/ttyS0
# serial: /dev/serial/by-id/usb-Klipper_stm32f407xx_540042000E504E4855343720-if00
restart_method: command

[temperature_sensor SKR_Pro]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

#[mcu rpi]
#serial: /tmp/klipper_host_mcu

[temperature_sensor CB1]
sensor_type: temperature_host
min_temp: 10
max_temp: 100


[printer]
kinematics: corexy
max_velocity: 300  
max_accel: 4000             #Max 4000
max_z_velocity: 15          #Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 350
square_corner_velocity: 5.0



#####################################################################
#   X/Y Stepper Settings
#####################################################################


##  B Stepper - Left
##  Connected to MOTOR_0
##  Endstop connected to DIAG_0
[stepper_x]
step_pin: PE9
dir_pin: PF1
enable_pin: !PF2
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 200  #set to 400 for 0.9 degree stepper
# endstop_pin: PB10
position_min: 0
position_endstop: 350
position_max: 350
homing_speed: 75 #25   #Max 100
homing_positive_dir: true

# sensorless homing
endstop_pin: tmc2209_stepper_x:virtual_endstop
homing_retract_dist: 0


[tmc2209 stepper_x]
uart_pin: PC13
# sensorless homing
diag_pin: PB10  
driver_SGTHRS: 130  # 255 is most sensitive value, 0 is least sensitive
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0



##  A Stepper - Right
##  Connected to MOTOR_1
##  Endstop connected to DIAG_1
[stepper_y]
step_pin: PE11
dir_pin: PE8
enable_pin: !PD7
rotation_distance: 40
microsteps: 32
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
# endstop_pin: PE12
position_min: 0
position_endstop: 350
position_max: 350
homing_speed: 75 #25   #Max 100
homing_positive_dir: true

# sensorless homing
endstop_pin: tmc2209_stepper_y:virtual_endstop
homing_retract_dist: 0

[tmc2209 stepper_y]
uart_pin: PE3
# sensorless homing
diag_pin: PE12 
driver_SGTHRS: 130  # 255 is most sensitive value, 0 is least sensitive
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

#####################################################################
#   Z Stepper Settings
#####################################################################

## Z0 Stepper - Front Left
##  Connected to MOTOR_2
##  Endstop connected to DIAG_2
[stepper_z]
step_pin: PE13
dir_pin: PC2
enable_pin: !PC0
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32
# endstop_pin: PG8
endstop_pin: probe:z_virtual_endstop 
# position_endstop: 1.425
#position_endstop: 1.525 #just testing for abs
# position_endstop: 1.365
# position_endstop: 0.825 # Cold
# position_endstop: 1.525 # Hot
position_max: 310
position_min: -5
homing_speed: 8
second_homing_speed: 3
homing_retract_dist: 3

[tmc2208 stepper_z]
uart_pin: PE1
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0


##  Z1 Stepper - Rear Left
##  Connected to MOTOR_3
[stepper_z1]
step_pin: PE14
dir_pin: PA0
enable_pin: !PC3
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

[tmc2208 stepper_z1]
uart_pin: PD4
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0


##  Z2 Stepper - Rear Right
##  Connected to MOTOR_4
[stepper_z2]
step_pin: PD15
dir_pin: PE7
enable_pin: !PA3
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

[tmc2208 stepper_z2]
uart_pin: PD1
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

##  Z3 Stepper - Front Right
##  Connected to MOTOR_5
[stepper_z3]
step_pin: PD13
dir_pin: PG9
enable_pin: !PF0
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

[tmc2208 stepper_z3]
uart_pin: PD6
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0


#####################################################################
#   Bed Heater
#####################################################################
##  SSR Pin - HE1
##  Thermistor - TB
[heater_bed]
heater_pin: PD12
sensor_pin: PF3 # T0
sensor_type: Generic 3950

control: pid
pid_kp: 59.506
pid_ki: 3.306
pid_kd: 267.777
max_power: 1
min_temp: 0
max_temp: 130


#####################################################################
#   Fan Control
#####################################################################
# https://klipper.discourse.group/t/how-do-you-trigger-fans-from-the-main-mcu-temp/8191/12
##  Print Cooling Fan - FAN0
# [fan]
# pin: PC8
# kick_start_time: 0.5
# ##  Depending on your fan, you may need to increase this value
# ##  if your fan will not start. Can change cycle_time (increase)
# ##  if your fan is not able to slow down effectively
# off_below: 0.10

# ##  Hotend Fan - FAN1
# [heater_fan hotend_fan]
# pin: PE5
# max_power: 1.0
# kick_start_time: 0.5
# heater: extruder
# heater_temp: 50.0
# ##  If you are experiencing back flow, you can reduce fan_speed
# #fan_speed: 1.0

# ##  Controller fan - FAN2
# [controller_fan controller_fan]
# pin: PE6
# kick_start_time: 0.5
# # heater: heater_bed

##  Exhaust fan - FAN3 
#[heater_fan exhaust_fan]
#pin:
#max_power: 1.0
#shutdown_speed: 0.0
#kick_start_time: 5.0
#heater: heater_bed
#heater_temp: 60
#fan_speed: 1.0

#####################################################################
#   LED Control
#####################################################################

## Chamber Lighting - HE2 Connector (Optional)
#[output_pin caselight]
#pin: 
#pwm:true
#shutdown_value: 0
#value:1
#cycle_time: 0.01

#####################################################################
#   Homing and Gantry Adjustment Routines
#####################################################################

[idle_timeout]
timeout: 1800

# [safe_z_home]
# ##  XY Location of the Z Endstop Switch
# ##  Update -10,-10 to the XY coordinates of your endstop pin 
# ##  (such as 157,305) after going through Z Endstop Pin
# ##  Location Definition step.
# home_xy_position: 230,348
# speed: 100
# z_hop: 10

##  Use QUAD_GANTRY_LEVEL to level a gantry.
##  Min & Max gantry corners - measure from nozzle at MIN (0,0) and 
##  MAX (250, 250), (300,300), or (350,350) depending on your printer size
##  to respective belt positions


########################################
# EXP1 / EXP2 (display) pins
########################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PG4, EXP1_3=PD11, EXP1_5=PG2, EXP1_7=PG6, EXP1_9=<GND>,
    EXP1_2=PA8, EXP1_4=PD10, EXP1_6=PG3, EXP1_8=PG7, EXP1_10=<5V>,
    # EXP2 header
    EXP2_1=PB14, EXP2_3=PG10, EXP2_5=PF11, EXP2_7=PF12,  EXP2_9=<GND>,
    EXP2_2=PB13, EXP2_4=PB12, EXP2_6=PB15, EXP2_8=<RST>, EXP2_10=PF13
    # Pins EXP2_1, EXP2_6, EXP2_2 are also MISO, MOSI, SCK of bus "spi2"

#####################################################################
#   Displays
#####################################################################


#  mini12864 LCD Display
[display]
lcd_type: uc1701
cs_pin: EXP1_3
a0_pin: EXP1_4
rst_pin: EXP1_5
encoder_pins: ^EXP2_5, ^EXP2_3
click_pin: ^!EXP1_2
contrast: 63
spi_software_miso_pin: EXP2_1
spi_software_mosi_pin: EXP2_6
spi_software_sclk_pin: EXP2_2

#  To control Neopixel RGB in mini12864 display
[neopixel btt_mini12864]
pin: EXP1_6
chain_count: 3
initial_RED: 0.1
initial_GREEN: 0.5
initial_BLUE: 0.0
color_order: RGB

#  Set RGB values on boot up for each Neopixel. 
#  Index 3 = display, Index 1 and 2 = Knob
[delayed_gcode setdisplayneopixel]
initial_duration: 1
gcode:
       SET_LED LED=btt_mini12864 RED=0.588 GREEN=0.196 BLUE=0.196 INDEX=3 TRANSMIT=0
       SET_LED LED=btt_mini12864 RED=0.098 GREEN=0.002 BLUE=0.149 INDEX=1 TRANSMIT=0
       SET_LED LED=btt_mini12864 RED=0.098 GREEN=0.002 BLUE=0.149 INDEX=2

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.062234, 0.115058, 0.125071, 0.149869, 0.192808, 0.214602, 0.182617, 0.118402, 0.136685
#*# 	  -0.029826, 0.021378, 0.030335, 0.058788, 0.102149, 0.143289, 0.110555, 0.046081, 0.051876
#*# 	  -0.088649, -0.027327, -0.014131, 0.004322, 0.048415, 0.086176, 0.053606, -0.017719, -0.008137
#*# 	  -0.126548, -0.065809, -0.067705, -0.030978, 0.017309, 0.051281, 0.021985, -0.048103, -0.044462
#*# 	  -0.126548, -0.077509, -0.059078, -0.051756, -0.001008, 0.040263, 0.007867, -0.070758, -0.070758
#*# 	  -0.127214, -0.071962, -0.044462, -0.037689, 0.013176, 0.049550, 0.023741, -0.061560, -0.051756
#*# 	  -0.071962, -0.023103, 0.007319, 0.015540, 0.062234, 0.096342, 0.061695, -0.015299, -0.011101
#*# 	  -0.008137, 0.056527, 0.067386, 0.075951, 0.130058, 0.162959, 0.126735, 0.047817, 0.046680
#*# 	  0.025499, 0.078237, 0.096342, 0.114475, 0.166773, 0.189057, 0.146582, 0.069103, 0.096342
#*# x_count = 9
#*# y_count = 9
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 15.0
#*# max_x = 335.0
#*# min_y = 21.42
#*# max_y = 334.94
#*#
#*# [probe_eddy_ng btt_eddy]
#*# calibrated_drive_currents = 24
#*# calibration_version = 5
#*# calibration_24 = gASVywMAAAAAAAB9lCiMAXaUSwWMBGZ0b2iUjBtudW1weS5wb2x5bm9taWFsLnBvbHlub21pYWyUjApQb2x5bm9taWFslJOUKYGUfZQojARjb2VmlIwWbnVtcHkuX2NvcmUubXVsdGlhcnJheZSMDF9yZWNvbnN0cnVjdJSTlIwFbnVtcHmUjAduZGFycmF5lJOUSwCFlEMBYpSHlFKUKEsBSwqFlGgMjAVkdHlwZZSTlIwCZjiUiYiHlFKUKEsDjAE8lE5OTkr/////Sv////9LAHSUYolDUAwRXCiJx/I/Mku/XWx2+j9FcqLHAIrpPwz+ffGK8OE/hTecRYHV0j9TsCh+vAu7vypBMBhtk6M/3j8FhBqi1z8xnnpujXPIP290whKeXIo/lHSUYowGZG9tYWlulGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQPnH/hWiDkj78zCT67sqSPpR0lGKMBndpbmRvd5RoC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEAAAAAAAAPC/AAAAAAAA8D+UdJRijAdfc3ltYm9slIwBeJSMBnN5bWJvbJRoLHVijAlmdG9oX2hpZ2iUaAUpgZR9lChoCGgLaA5LAIWUaBCHlFKUKEsBSwqFlGgYiUNQYguDZ0VCGkCZ65MOLBwGQJeEDmaZ6wJAAYgYam9yGUAc1AdXEVAGwO3Bxuz6QjTAwUaPfE7WG0CfV5pdezQ/QJGlDlJV/AnAkFwHDYanLcCUdJRiaB1oC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEGV3HO4XyZI+i6xYGB3Vkj6UdJRiaCRoC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEAAAAAAAAPC/AAAAAAAA8D+UdJRiaCtoLGgtaCx1YowEaHRvZpRoBSmBlH2UKGgIaAtoDksAhZRoEIeUUpQoSwFLCoWUaBiJQ1B6DCpmVruSPlAVmwXyPxo+0dBu+KiwEL6RsBfWjd0EPrxSO/MXlN294yxNrI6a/r3nz34d4VzzvUFvbmq4dAw+48H+o/eu6D3Vt5aZ7579vZR0lGJoHWgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQAMCgtQ189T62xSm6G/ITQJR0lGJoJGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQAAAAAAAA8L8AAAAAAADwP5R0lGJoK2gsaC1oLHVijAdoX3JhbmdllF2UKEc+9XwNtaDAAEdALf/yG6lwCmWMB2ZfcmFuZ2WUXZQoR0FLL+Rwo4AAR0FLp+C9cQAAZYwCZGOUSxh1Lg==
